:root {
  --primary-green-color: #495E57;
  --primary-yellow-color: #F4CE14;
  --secondary-orange-color: #EE9972;
  --secondary-belge-color: #FBDABB;
  --secondary-grey-color: #EDEFEE;
  --secondary-black-color: #333333;
  /* fonts variables */

  /* Display title font */
  --font-display-title: 'Markazi Text', serif;
  --font-display-title-size: 64px;

  /* Subtitle font */
  --font-subtitle-size: 40px;

  /* Lead text font */
  --font-lead-text: 'Karla', sans-serif;
  --font-lead-text-size: 18px;

  /* Section title font */
  --font-section-title-size: 20px;
  --font-section-title-weight: bold;

  /* Categories font */
  --font-categories-size: 16px;
  --font-categories-weight: bold;

  /* Card title font */
  --font-card-title-size: 18px;
  --font-card-title-weight: bold;

  /* Paragraph text font */
  --font-paragraph-size: 16pt;
  --font-paragraph-line-height: 1.5;
  --font-paragraph-max-chars: 65;

  /* Highlight text font */
  --font-highlight-size: 16px
}

.body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}

.header {
  background-color: aqua;
  grid-column: 3/ span 9;
}